.category {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: white;
}

.categoryItem {
    width: 25%;
    padding:4px;
}

.categoryItem .span {
    display: block;
    text-align: center;
    font-weight: 600;
}

.categoryItem .image {
    width: 100%;
    height: 50px;
}